---
import { nav } from "@/constants/general";
---
<header>
    <nav class="fixed left-1/2 -translate-x-1/2 flex items-center w-[calc(100%-2rem)] md:w-auto px-6 py-3 rounded-full text-sm mt-2 backdrop-blur-md backdrop-saturate-150 border border-foreground">
        <a href="#home"></a>
        <div class="hidden md:flex items-center gap-6 ml-7">
            {nav.map(item => (
                <a href={item.href} class="relative overflow-hidden h-6 group">
                    <span class="block group-hover:-translate-y-full transition-transform duration-300">
                        {item.label}
                    </span>
                    <span class="block absolute top-full left-0 group-hover:translate-y-[-100%] transition-transform duration-300">
                        {item.label}
                    </span>
                </a>
            ))}
        </div>
    
        <div class="hidden ml-14 md:flex items-center gap-4">
            <button
                class="bg-foreground hover:shadow-[0px_0px_30px_14px] shadow-[0px_0px_30px_7px] hover:shadow-white/50 shadow-white/50 text-black px-4 py-2 rounded-full text-sm font-medium hover:bg-slate-100 transition duration-300 cursor-pointer"
            >
                Contactanos
            </button>
        </div>
        <button id="menuToggle" class="md:hidden text-foreground">
            <svg
                class="w-6 h-6"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                viewBox="0 0 24 24"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
        </button>
    </nav>
    <div id="mobileMenu" class="fixed left-1/2 -translate-x-1/2 hidden top-18 w-[calc(100%-2.5rem)] flex-col items-center gap-4 rounded-xl border border-foreground py-4 backdrop-blur-md backdrop-saturate-150">
        {nav.map(item => (
            <a class="hover:text-indigo-600" href={item.href}> {item.label} </a>
        ))}
        <button
            class="bg-foreground hover:shadow-[0px_0px_30px_14px] shadow-[0px_0px_30px_7px] hover:shadow-white/50 shadow-white/50 text-black px-4 py-2 rounded-full text-sm font-medium hover:bg-slate-100 transition duration-300 cursor-pointer"
        >
            Contactanos
        </button>
    </div>
</header>

<script>
    const menuToggle = document.getElementById("menuToggle");
    const mobileMenu = document.getElementById("mobileMenu");

    menuToggle?.addEventListener("click", () => {
        if (mobileMenu?.classList.contains("hidden")) {
            mobileMenu?.classList.remove("hidden");
            mobileMenu?.classList.add("flex");
        } else {
            mobileMenu?.classList.add("hidden");
            mobileMenu?.classList.remove("flex");
        }
    });
</script>
