---
import { navConfig } from "@/data/site";
import Link from "@/components/ui/Link.astro";
import Button from "@/components/ui/Button.astro";
import { contactInfo } from "@/data/contact";
---

<header>
    <nav
        class="fixed z-200 left-1/2 -translate-x-1/2 flex items-center w-[calc(100%-2rem)] md:w-auto px-6 py-3 rounded-full text-sm mt-2 backdrop-blur-md backdrop-saturate-150 border border-stone-800 bg-primary/30"
    >
        <div class="hidden md:flex items-center gap-6 ml-7">
            {
                navConfig.map((item) => (
                    <a href={item.href} data-id={item.href.replace("#", "")} class="relative overflow-hidden h-5 group nav-link">
                        <span class="block group-hover:-translate-y-full transition-transform duration-300">
                            {item.label}
                        </span>
                        <span class="block absolute top-full left-0 group-hover:translate-y-[-100%] transition-transform duration-300">
                            {item.label}
                        </span>
                    </a>
                ))
            }
        </div>

        <div class="hidden ml-14 md:flex items-center gap-4">
            <Link href={contactInfo.whatsappLink} target="_blank">
                Contáctanos
            </Link>
        </div>
        <button id="menuToggle" class="md:hidden text-foreground left-auto ml-auto">
            <svg
                class="w-6 h-6"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                viewBox="0 0 24 24"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
        </button>
    </nav>
    <div
        id="mobileMenu"
        class="fixed left-1/2 -translate-x-1/2 hidden top-18 w-[calc(100%-2.5rem)] flex-col items-center gap-10 rounded-xl border border-stone-800 bg-primary/30 py-4 backdrop-blur-md backdrop-saturate-150 z-100"
    >
        {navConfig.map((item) => (
            <a class="nav-link text-2xl" href={item.href} data-id={item.href.replace("#", "")}>
                {item.label}
            </a>
        ))}
        <Link size="xl" href={contactInfo.whatsappLink} target="_blank">
            Contáctanos
        </Link>
    </div>
</header>
